{% extends "base.html" %}
{% block cuerpo %}
    {% include "navbar.html" %}
    <div class="row">
        {% if user.is_authenticated %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Medico</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cita in citas %}
                    <tr>
                        <th scope="row">{{ cita.id }}</th>
                        <td>{{ cita.paciente }}</td>
                        <td>{{ cita.medico }}</td>
                        <td>{{ cita.fecha }}</td>
                        <td>{{ cita.estado }}</td>
                        <td>
                            <a href="{% url 'clinico:mis_citas_detail' pk=cita.id %}" class="btn btn-site btn-lost">
                                Ver Diagnostico </a>
                            <a href="{% url 'clinico:export' pk=cita.id %}" class="btn btn-site btn-lost">
                                Ver PDF </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock cuerpo %}