{% extends "base.html" %}
{% block cuerpo %}
    {% include "navbar.html" %}
    <div class="row">
        <div class="col s12 m4 l3 card-panel center-align">
            <div class="row ">
                <div class="col s9 center-align">
                    <img class="circle responsive-img" src="">
                </div>
            </div>
            <div class="section">
                <h5></h5>
                <h6></h6>
                <a href="{% url 'clinico:profile' %}" class="waves-effect waves-light btn">
                    <i class="material-icons left">assignment</i> Perfil
                </a>
            </div>
        </div>
        <div class="col s12 m8 l9 ">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">assignment</i>Citas</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="card-panel">
                                <p>Ninguna cita aún. </p>
                                <a href="{% url 'clinico:mis_citas_medicos' %}" class="waves-effect waves-light btn">
                                    <i class="material-icons left">assignment</i> Citas generales
                                </a>
                                <a href="{% url 'clinico:mis_citas_medicos_register' %}"
                                   class="waves-effect waves-light btn">
                                    <i class="material-icons left">assignment</i> Citas registradas
                                </a>
                                <a href="{% url 'clinico:mis_citas_medicos_completed' %}"
                                   class="waves-effect waves-light btn">
                                    <i class="material-icons left">assignment</i> Citas completadas
                                </a>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">visibility</i>Consultas</div>
                    <div class="collapsible-body">
                        <div class="row">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">insert_chart</i>Estadísticas</div>
                    <div class="collapsible-body">
                        <h4>Sin estadísticas por ahora</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock cuerpo %}
